body
{
    font-family: verdana;
    color: #3c3939;
    background-color: #f1f1f1;
}
.profile-card
{
    width:100%;
    margin: auto;
    background-color: #f1f1f1;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.image-container
{
    position: relative;
}
.info
{
    color: #4b4fe2
    margin-right: 16px;
}
.main-container
{
    padding: 20px:
    font-family: verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
    width: 50%;
    padding-top: 1%;

}
.Submit_button
{
  width: 150px;
  text-align: center;
  margin:0 auto;

}
.a2a_kit a2a_kit_size_32 a2a_default_style
{
  text-align: center;
}

.company
{
  width: 100%;
}

.Snap_Chat
{
  width: 200px;
  text-align: center;
  margin:0 auto;

}
.Snap_Video
{
  width: 200px;
  text-align: center;
  margin: auto;
 }
